<section class="container rounded-lg bg-white border">
  <a href="">
    <div
      class="relative h-80 w-full overflow-hidden sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64 p-2"
    >
      <img
        [src]="'../../' + product.image"
        alt="{{ product.name }}"
        width="600"
        height="300"
        class="h-full w-full object-cover object-center"
      />
    </div>
  </a>
  <div class="border-t p-2">
    <h2 class="text-lg font-medium tracking-tight">{{ product.name }}</h2>
    <p className="mt-1 text-lg font-medium text-gray-900">
      {{ getFormattedPrice() }}
    </p>
  </div>
</section>
